[submodule "web-client"]
	path = web-client
	url = https://github.com/ZBrettonYe/FloridaTechCoursePlanner
[submodule "data-spider"]
	path = data-spider
	url = https://github.com/ZBrettonYe/FloridaTechDataSpider
